<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Vista de Paciente</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="”btn" btn-success back”
              ><i class="fas fa-arrow-circle-lef"></i> Volver</a
            >
          </div>
        </div>
      </div>
      <table
        class="table table-striped table-hover table-bordered table-conten"
      >
        <tbody>
          <tr>
            <td>
              <label><b>Nombre</b></label>
            </td>
            <td>
              <span>{{ pacienteDetail.Nombre }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Raza</b></label>
            </td>
            <td>
              <span>{{ pacienteDetail.Raza }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Propietario</b></label>
            </td>
            <td>
              <span>{{ pacienteDetail.Propietario }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Sexo</b></label>
            </td>
            <td>
              <span>{{ pacienteDetail.Sexo }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>
                Fecha Creacion
              </b></label>
            </td>
            <td>
              <span>{{ pacienteDetail.fechaCreacion }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
