<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Actualizar Pacientes</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"
              ><i class="fas fa-arrow-circle-left"></i> Volver</a
            >
          </div>
        </div>
      </div>
      <form pacienteForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Nombre" class="p-t-b-10"
                >Nombre<span class="requiredStar">*</span></label
              >
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="Nombre"
                required
                maxlength="255"
                (ngModel)="(editPacienteForm.Nombre)"
                name="Nombre"
                ngModel="Nombre"
                #Nombre="ngModel"
              />
              <div
                *ngIf="Nombre.errors && isSubmitted"
                class="alert alert-danger validationError"
              >
                <div [hidden]="!Nombre.errors?.['required']">
                  Nombre is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Raza" class="p-t-b-10"
                >Raza<span class="requiredStar">*</span></label
              >
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="Raza"
                required
                maxlength="255"
                (ngModel)="(editPacienteForm.Raza)"
                name="Raza"
                #Raza="ngModel"
              />
              <div
                *ngIf="Raza.errors && isSubmitted"
                class="alert alert-danger validationError"
              >
                <div [hidden]="!Raza.errors?.['required']">
                  Raza is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10"
                >Propietario<span class="requiredStar">*</span></label
              >
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="Propietario"
                required
                maxlength="255"
                (ngModel)="(editPacienteForm.Propietario)"
                name="Propietario"
                #Propietario="ngModel"
              />
              <div
                *ngIf="Propietario.errors && isSubmitted"
                class="alert alert-danger validationError"
              >
                <div [hidden]="!Propietario.errors?.['required']">
                  Propietario is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10"
                >Sexo<span class="requiredStar">*</span></label
              >
            </div>
            <div class="col-sm-9">
              <textarea
                class="form-control"
                id="Sexo"
                required
                (ngModel)="(editPacienteForm.Sexo)"
                name="Sexos"
                #Sexo="ngModel"
              >
></textarea
              >
              <div
                *ngIf="Sexo.errors && isSubmitted"
                class="alert alert-danger validationError"
              >
                <div [hidden]="!Sexo.errors?.['required']">
                  Sexo is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10"
                >Fecha Creacion<span class="requiredStar">*</span></label
              >
            </div>
            <div class="col-sm-9">
              <input
                type="datetime"
                class="form-control"
                id="fechaCreacion"
                required
                maxlength="10"
                (ngModel)="(editPacienteForm.fechaCreacion)"
                name="fechaCreacion"
                #fechaCreacion="ngModel"
              />
              <div
                *ngIf="fechaCreacion.errors && isSubmitted"
                class="alert alert-danger validationError"
              >
                <div [hidden]="!fechaCreacion.errors?.['required']">
                  fechaCreacion is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10"
                >Fecha Moficiacion<span class="requiredStar">*</span></label
              >
            </div>
            <div class="col-sm-9">
              <input
                type="datetime"
                class="form-control"
                id="fechamodificacion"
                required
                maxlength="10"
                (ngModel)="(editPacienteForm.fechamodificacion)"
                name="fechamodificacion"
                #fechamodificacion="ngModel"
              />
              <div
                *ngIf="fechamodificacion.errors && isSubmitted"
                class="alert alert-danger validationError"
              >
                <div [hidden]="!fechamodificacion.errors?.['required']">
                  fecha modificacion is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-footer">
          <button
            class="btn btn-success"
            (click)="EditPaciente(pacienteForm.form.valid)"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
